@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

html {
    height: 100%;
}

.bgr-logo {
    height: auto;
    background: url("../../images/site/equation-black-board-education.jpg") no-repeat center;
    background-size:cover;
}

.bgr-logo form {
    background: rgba(100, 106, 109, 0.6);
    width: 22%;
    float: right;
    margin-right: 90px;
    margin-top: 90px;
    padding: 43px;
    height: 60%;
}


.bgr-logo form label {
    display: block;
}

.bgr-logo form label input {
    display: block;
    padding: 9px;
    border-radius: 11px;
    border: none;
    outline: none;
}

.bgr-logo form label span{
    display:block;
    padding-bottom: 12px;
    font-size: 20px;
    padding-top: 12px;
    color: white;
}

body {
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
    background: linear-gradient(to bottom, #e0bc5c 0%, #656f6f 100%);
}

.container {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: block;
    position: absolute;
    max-width: 353px;
}

.button {
    float: left;
    position: relative;
    bottom: -65px;
    left: 50%;
    transform: translateX(-50%) rotate(-10deg);
    color: #e55643;
    text-transform: uppercase;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    margin-bottom: 18px;
    margin-top: 18px;
    font-size: 60px;
}

.button span {
    transform: skew(-10deg);
    display: block;
    float: left;
    text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px;
}

h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 72px;
    margin: 0;
    line-height: 80px;
    letter-spacing: 3px;
}

.title {
    transform: translateX(-50%) rotate(-10deg);
    display: block;
    float: left;
    left: 50%;
    position: relative;
}

.title span {
    transform: skew(-10deg);
    display: block;
    float: left;
    text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;
    min-width: 10px;
    min-height: 10px;
    position: relative;
}

.title:nth-child(1) {
    color: #e55643;
}

.title:nth-child(2) {
    color: #2b9f5e;
}

.title:nth-child(3) {
    color: #f1c83c;
}

.login-form {
    width: 30%;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 30px;
}

.login-form label {
    padding: 83px;
    font-size: 25px;
    padding-top: 35px;
}

.bgr-logo {
    height: 800px;
}

.bgr-logo h1 {
    padding-bottom: 40px;
}

#registered-user {
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: #e0bc5c;
    cursor: pointer;
}

.login-btn {
    background: transparent;
    padding: 12px;
    border: 2px solid #e0bc5c;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    padding-left: 24px;
    padding-right: 24px;
    outline: none;
    margin-top: 10px;
    font-weight: bold;
}

.login-btn:hover {
    cursor: pointer;
    color: #e0bc5c;
    background: transparent;
}

.center_div{
    margin: 0 auto;
    width:80%
}

.list-group-horizontal .list-group-item {
    display: inline-block;
    margin-bottom: 0;
    margin-left:-4px;
    margin-right: 0;
    border: none;
    border-radius: 0;
}

.list-group-item {
    color: #283036;
}

.bg-primary {
    color:#4B4A4E;
    background-color: #f9f9f9;
}

.list-group-item a {
    color:#4B4A4E;
    border: none;
}

.list-group-item a:hover {
    color:#e0bc5c;
    border: none;
}

.list-group-item:first-child {
    border-radius: 0;
}

.university {
    color: #fff;
    text-transform: uppercase;
    font-size: 36px;
    margin: 0;
    line-height: 49px;
    width: 100%;
    display: block;
}
.unis {
    width: 100%;
    margin: 0px auto;
}


.container {
    max-width: 100%;
}

.uni-buttons {
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 12px;
    background: transparent;
    border: 3px solid #e0bc5c;
    font-size: 25px;
    color: #e0bc5c;
    padding-left: 22px;
    padding-right: 22px;
    text-align: center;
}

.uni-buttons:hover{
    cursor: pointer;
    color: white;
    border: 3px solid white;
}

.navbar-nav {

}