.center_div{
    margin: 0 auto;
    width:80%
}

.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
    margin-bottom: 0;
    margin-left:-4px;
    margin-right: 0;
    border: 0;
    display: inline;
}
