<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Students Simulator</title>
    <script th:src="@{/web/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/web/js/ajax_libs_lettering.js_0.7.0_jquery.lettering.js}"></script>
    <script th:src="@{/web/js/ajax_libs_gsap_1.18.0_TweenMax.min.js}"></script>
    <script th:src="@{/web/js/site.js}"></script>
    <link rel="stylesheet" th:href="@{/web/css/site.css}">
</head>
<body>
<section class="container">
    <h1>
        <span class="title">Students</span>
        <span class="title">Life</span>
        <span class="title">Simulator</span>
    </h1>

    <div class="button" id="playButton">PLAY</div>
</section>
</body>
<script>
    $('#playButton').click(function () {
        window.location = '/login'
    })
</script>
</html>