<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Students Simulator</title>
    <link rel="stylesheet" th:href="@{/web/css/site.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="bgr-logo">

    <form action="">
        <h1>LOG IN</h1>
        <label>
            <span>Name</span>
            <input type="text" placeholder="name" />
        </label>

        <label>
            <span>Email</span>
            <input type="text" placeholder="email" />
        </label>


        <label>
            <span>Password</span>
            <input type="password" placeholder="password" />
        </label>

        <div id="registered-user">
            <a th:href="|/students/register|">Don't have registration?</a>
        </div>

        
            <input type="submit" class="login-btn" value="LOGIN" />
        </label>
    </form>


    
</div>

</body>
</html>