<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="model" type="bg.ansr.simulator.studentsimulatorcore.models.lecture.LecturesViewModel"*/-->
<main>
    <h3>University Schedule</h3>
    <table class="table" border="1">
        <thead>
        <tr>
            <th>Lecture name</th>
            <th>From</th>
            <th>To</th>
            <th>Energy cost</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mandatory : ${model.mandatoryLectures}">
            <th th:text="${mandatory.name}"></th>
            <th th:text="${mandatory.startedAt}"></th>
            <th th:text="${mandatory.endedAt}"></th>
            <th th:text="${mandatory.energyCost}"></th>
        </tr>
        </tbody>
    </table>
    <hr/>
    <h3>Liberal Arts</h3>
    <form method="post">
        <div th:each="optional,i : ${model.optionalLectures}">
            <input type="text" disabled="disabled" th:value="${optional.name}"/>
            <input type="hidden" th:name="'chosenLectures['+${i.index}+'].lectureId'" th:value="${optional.id}"/><br/>
            <input type="text" th:name="'chosenLectures['+${i.index}+'].startAt'" th:value="${optional.startedAt}"/><br/>
            <hr/>
        </div>
        <input class="login-btn" type="submit" value="Arrange"/>
    </form>
</main>
